@import "../../../styles.scss";

.picture-block{
  height: 150px;
  width: 220px;
}

img{
  width: 100%;
  height: 100%;
  opacity: 0.8;

  &:hover{
    opacity: 1;
    cursor: pointer;
  }
}

video{
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.containerAll{
  width: 100%;
  height: 100%;
  position: relative;
}

.box{          
  width: 100%;
  height: 100%;
  position: absolute;

}

.video-play{
  &:hover{
    opacity: 1;
    cursor: pointer;
  }
}

.stack-top{
  z-index: 9;
}