<div class="ml-2">
    <div class="h1 text-capitalize text-secondary d-flex justify-content-center">sommaire</div>
    <div class="h3 text-secondary d-flex justify-content-center"><em>Liste des destinations par pays</em></div>
    <div *ngFor="let country of countries">
        <div class="h3 text-capitalize text-secondary">{{country.label}}</div>
        <div class="container">
            <div class="row">

                <div *ngFor="let place of country.places" class="card p-2">
                    <img class="card-img" [src]="'/assets/'+place.imageURL" [alt]="place.imageAlt">
                    <h4><b>{{place.title}}</b></h4>
                    <p class="font-weight-bold">{{place.description}}</p>
                    <p class="font-weight-bold text-secondary font-italic">{{place.firstDay}} - {{place.lastday}}</p>
                    <div>
                        <button type="button" class="btn btn-outline-secondary">Détails »</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>