@import "../../styles.scss";

.blog-right-side {
  transition: margin-left .25s, margin-right .25s, width .25s, flex .25s, -ms-flex .25s;

  &-big {
    width: calc(100vw - 57px);
    margin-left: 57px;
    min-height: 100vh;
  }

  &-small {
    margin-left: 200px;
    width: calc(100vw - 200px);
    min-height: 100vh;
  }

  &-full {
    margin-left: 0px;
    width: 100vw;
    min-height: calc(100vh - #{map-get($height, sidebar-top)});
  }
}
