<div *ngIf="!isPhoneScreen" #sidebar
    class="navbar-dark blog-sidebar blog-sidebar-left bg-secondary d-flex flex-column justify-content-start align-items-stretch"
    [ngClass]="{'blog-sidebar-left-show': sideBarOpen}">
    <div class="d-flex justify-content-end">
        <button class="navbar-toggler" type="button" (click)="toggleShowSideBar()">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="navbar-nav mt-4">
        <li routerLinkActive="active">
            <a *ngFor="let item of items" class="nav-item nav-link d-flex"
                [ngClass]="{'justify-content-center':!sideBarOpen}" [routerLink]="item.link">
                <span class="material-icons" [ngClass]="{'ml-2':sideBarOpen,'mr-2':sideBarOpen}">{{item.icon}}</span>
                <span *ngIf="sideBarOpen">{{item.label}}</span>
            </a>
        </li>
    </div>
</div>

<div *ngIf="isPhoneScreen" #sidebar class="navbar-dark blog-sidebar blog-sidebar-top bg-secondary">
    <ul class="navbar-nav d-flex flex-row justify-content-between px-2" style="height: 100%;">
        <li *ngFor="let item of items" routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="item.link">
                <span class="material-icons">{{item.icon}}</span>
            </a>
        </li>
    </ul>
</div>