@import "../../styles.scss";

.blog-sidebar{
  margin-left: 0;     
  position: fixed;
  z-index: map-get($z-index, sidebar);
  width: 57px;
  height: 100vh;     
  padding: 0;
  color: #fff;
  transition: margin-left .25s, margin-right .25s, width .25s, flex .25s, -ms-flex .25s;

  &-show {
    width: 200px;
  }
  
}
