<button *ngIf="isAuth" routerLink="new-card" type="button" class="btn bg-primary blog-btn-add d-flex justify-content-center">
    <span class="material-icons md-36">
        add_circle_outline
    </span>
</button>

<div class="ml-2">
    <div class="h1 text-capitalize text-secondary d-flex justify-content-center">sommaire</div>
    <div class="h3 text-secondary d-flex justify-content-center"><em>Liste des destinations par pays</em></div>
    <div *ngFor="let country of countries">
        <div class="h3 text-capitalize text-secondary">{{country.label}}</div>
        <div class="container">
            <div class="row">

                <div *ngFor="let place of country.places" class="card p-2">
                    <button *ngIf="isAuth" type="button" class="btn bg-warning d-flex justify-content-center summaryIcon summaryIcon-edit" (click)="editCard(place)">
                        <span class="material-icons">
                            edit
                        </span>
                    </button>
                    <button *ngIf="isAuth" type="button" class="btn bg-danger d-flex justify-content-center summaryIcon summaryIcon-delete" data-toggle="modal" data-target="#deleteModal" (click)="selctPlaceAndOpenModal(place)">
                        <span class="material-icons">
                            delete
                        </span>
                    </button>
                    <img class="card-img" [src]="place.imageUrl" [alt]="place.imageAlt">
                    <h4><b>{{place.title}}</b></h4>
                    <p class="font-weight-bold">{{place.description}}</p>
                    <p class="font-weight-bold text-secondary font-italic">{{place.firstDay}} - {{place.lastDay}}</p>
                    <div>
                        <button type="button" class="btn btn-outline-secondary">Détails »</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isModalOpen" class="modal fade show" id="deleteModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                Voulez-vous vraiment supprimer cette carte du sommaire ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteCard(selectedCard)">Confirmer</button>
            </div>
        </div>
    </div>
</div>