<h2>Responsive Image Gallery</h2>
<h4>Colombie</h4>

<button *ngIf="authService.isLoggedIn()" type="button"
    class="btn bg-primary blog-btn-add d-flex justify-content-center">
    <span class="material-icons md-36">
        add_circle_outline
    </span>
</button>

<div class="px-3">
    <div class="container gallery">
        <div class="row">

            <app-picture-card *ngFor="let item of items" [item]="item" (clickOnPicture)="displayItem(item)">
            </app-picture-card>

        </div>
    </div>
</div>

<div *ngIf="displayImgModal" class="modal fade show" id="GalleryModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <img *ngIf="selectedItem && selectedItem.type == 'picture'"
            [src]="selectedItem ? '/assets/'+ selectedItem.name : ''" [alt]="selectedItem ? selectedItem.alt: ''"
            class="rounded mx-auto d-block">
    </div>
</div>

<div *ngIf="displayVideoModal" class="modal fade show" id="GalleryModal" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                    (click)="displayVideoModal = false">&times;</button>
            </div>
            <video *ngIf="selectedItem && selectedItem.type == 'video'" class="modal-video" controls>
                <source src="/assets/bresil.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</div>